h1{
    width: 65px;
    color: orange;
    font-family: sans-serif;
  }

  #list-style{
    background-color: lawngreen;
  }

  .first-style {
    background-color: rgb(151, 133, 185);
  }

  #p-style{
    font-weight: 600;
    width: 3em;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
  }

  #l1{
    background-color: rgb(251, 255, 0);
  }

  #l2{
    background-color: rgb(255, 0, 0);
  }

  #l3{
    background-color: brown;
  }